<h1>Bitcoin Reddit Subreddit Articles</h1>

<h2>Click here to get the latest Bitcoin Articles from the Reddit Sub!</h2>

<ul>
	{{#each article}}
	  <p>Title: {{title}}</p>
	  <p>Link: ${{link}}</p>
	  <hr>
	{{/each}}
</ul>